h1 {
    position: absolute;
    top: 45%;
    left: 26.5%;
    font-size: 4vw;
    color: rgba(66, 212, 30, 0.3);
    z-index: 1;
}

#container {
    display: flex;
    justify-content: center;
    margin: 4%;
    gap: 20px;
}

#board {
    position: relative;
    width: 40vw;
    height: 40vw;

    border: 2px solid black;
   
    display: flex;
    flex-wrap: wrap;
}

.deadPieceContainer {  
    margin-top: auto;
    margin-bottom: auto;
  
    width: 20vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
}

.deadContainer {
    display: flex;
    flex-direction: row-reverse;

    span {
        width: 5vw;
        height: 5vw;
        font-size: 4vw;
    }

    &.rightSide {
        flex-direction: row;
    }
}

.pawnContainer {
    flex-wrap: wrap;
}

.box {
    font-size: 4vw;
    width: 12.5%;
    height: 12.5%;
    text-align: center;
    position: relative;
}

.dot {
    position: absolute;
    top: 42%;
    left: 40%;
    height: 1vw;
    width: 1vw;
    background-color: rgb(58, 58, 58);
    border-radius: 50%;
    display: inline-block;
    opacity: 0;
  }

.piece {
   cursor: pointer;
}

.validMove {
    opacity: 1 !important;
}
