#board {
    width: 816px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    border: 1px solid black;
    font-size: 80px;
    width: 100px;
    height: 100px;
    text-align: center;
}

.piece {
   cursor: pointer;
}

.validMove {
    background-color: rgba(green, 0.5);
}
