<div id="container">

  <div class="deadPieceContainer">
    <div class="rookContainer deadContainer">
      <span>{{blackDeadPiecesContainer[0]}}</span>
      <span>{{blackDeadPiecesContainer[1]}}</span>
    </div>
    <div class="knightContainer deadContainer">
      <span>{{blackDeadPiecesContainer[2]}}</span>
      <span>{{blackDeadPiecesContainer[3]}}</span>
    </div>
    <div class="bishopContainer deadContainer">
      <span>{{blackDeadPiecesContainer[4]}}</span>
      <span>{{blackDeadPiecesContainer[5]}}</span>
    </div>
    <div class="kingContainer deadContainer">
      <span>{{blackDeadPiecesContainer[6]}}</span>
    </div>
    <div class="queenContainer deadContainer">
      <span>{{blackDeadPiecesContainer[7]}}</span>
    </div>
    <div class="pawnContainer deadContainer">
      <span>{{blackDeadPiecesContainer[8]}}</span>
      <span>{{blackDeadPiecesContainer[9]}}</span>
      <span>{{blackDeadPiecesContainer[10]}}</span>
      <span>{{blackDeadPiecesContainer[11]}}</span>
      <span>{{blackDeadPiecesContainer[12]}}</span>
      <span>{{blackDeadPiecesContainer[13]}}</span>
      <span>{{blackDeadPiecesContainer[14]}}</span>
      <span>{{blackDeadPiecesContainer[15]}}</span>
    </div>
  </div>

  <div id="board" #board>
    <div id="black-winner-text" *ngIf="gameOverText === 'B'">WINNER</div>
    <div id="white-winner-text" *ngIf="gameOverText === 'W'">WINNER</div>
    <div id="black-winner-text" *ngIf="gameOverText === 'S'">STALEMATE</div>
    <ng-container *ngFor="let i of numOfBoxes">
      <div (drop)="drop($event, i)" (dragover)="allowDrop($event)" id="{{ 'box' + i }}" class="box"
        [ngStyle]="{'background-color': i === currentBoxIndex && i !== recentMoveIndex[0]? '#69edf6': getBackgroundColor(i)}"
        [ngStyle]="{'background-color': i === recentMoveIndex[0] ? '#baca2b': getBackgroundColor(i)}"
        [ngStyle]="{'background-color': i === recentMoveIndex[1] ? '#f6f669': getBackgroundColor(i)}">
        <span id="{{'dot' + i}}" class="dot" *ngIf="validMovesSet.has(i)"></span>
        <div id="{{ 'piece' + i }}" draggable="true" (dragstart)="dragStart($event, i)" (dragend)="dragEnd($event)"
          class="piece">
          {{boardConfiguration[i].unicode}}</div>
      </div>
    </ng-container>


  </div>

  <div class="deadPieceContainer">
    <div class="rookContainer deadContainer rightSide">
      <span>{{whiteDeadPiecesContainer[0]}}</span>
      <span>{{whiteDeadPiecesContainer[1]}}</span>
    </div>
    <div class="knightContainer deadContainer rightSide">
      <span>{{whiteDeadPiecesContainer[2]}}</span>
      <span>{{whiteDeadPiecesContainer[3]}}</span>
    </div>
    <div class="bishopContainer deadContainer rightSide">
      <span>{{whiteDeadPiecesContainer[4]}}</span>
      <span>{{whiteDeadPiecesContainer[5]}}</span>
    </div>
    <div class="kingContainer deadContainer rightSide">
      <span>{{whiteDeadPiecesContainer[6]}}</span>
    </div>
    <div class="queenContainer deadContainer rightSide">
      <span>{{whiteDeadPiecesContainer[7]}}</span>
    </div>
    <div class="pawnContainer deadContainer rightSide">
      <span>{{whiteDeadPiecesContainer[8]}}</span>
      <span>{{whiteDeadPiecesContainer[9]}}</span>
      <span>{{whiteDeadPiecesContainer[10]}}</span>
      <span>{{whiteDeadPiecesContainer[11]}}</span>
      <span>{{whiteDeadPiecesContainer[12]}}</span>
      <span>{{whiteDeadPiecesContainer[13]}}</span>
      <span>{{whiteDeadPiecesContainer[14]}}</span>
      <span>{{whiteDeadPiecesContainer[15]}}</span>
    </div>
  </div>

</div>