<div id="container">

  <div class="deadPieceContainer">
    <div class="deadContainer">
      <span *ngFor="let i of blackDeadPiecesContainer">{{i}}</span>
    </div>
    <div class="deadContainer">
      <span *ngFor="let i of whiteDeadPiecesContainer">{{i}}</span>
    </div>
  </div>

  <div id="board" #board>
    <div id="black-winner-text" *ngIf="gameOverText === 'B'">WINNER</div>
    <div id="white-winner-text" *ngIf="gameOverText === 'W'">WINNER</div>
    <div id="black-winner-text" *ngIf="gameOverText === 'S'">STALEMATE</div>
    <ng-container *ngFor="let i of numOfBoxes">
      <div (drop)="drop($event, i)" (dragover)="allowDrop($event)" id="{{ 'box' + i }}" class="box"
        [ngStyle]="{'background-color': i === currentBoxIndex && i !== recentMoveIndex[0]? '#69edf6': getBackgroundColor(i)}"
        [ngStyle]="{'background-color': i === recentMoveIndex[0] ? '#baca2b': getBackgroundColor(i)}"
        [ngStyle]="{'background-color': i === recentMoveIndex[1] ? '#f6f669': getBackgroundColor(i)}"
        (click)="pieceClick(i)">
        <span id="{{'dot' + i}}" class="dot" *ngIf="validMovesSet.has(i)"></span>
        <div id="{{ 'piece' + i }}" draggable="true" (dragstart)="dragStart($event, i)" (dragend)="dragEnd($event)"
          class="piece">
          {{boardConfiguration[i].unicode}}</div>
      </div>
    </ng-container>
  </div>

  <div id="game-info">
    <div class="game-mode-select">
      <h1>Play vs...</h1>
      <button mat-flat-button color="accent" (click)="selectPlayMode(0)"
        [disabled]="playMode === 0 || gameStarted === 1">Computer</button>
      <button mat-flat-button color="accent" (click)="selectPlayMode(1)"
        [disabled]="playMode === 1 || gameStarted === 1">Friend</button>
    </div>

    <button mat-flat-button color="primary" class="play-button" (click)="startGame()"
      [disabled]="playMode === -1 || gameStarted === 1">Play</button>
  </div>

</div>